.e {
    display: flex;
    flex-direction: row, column;
    align-items: center;
    justify-content: space-around;
}

.body{
    background-color: aliceblue;
    box-sizing: border-box;
    margin:0;
    padding:0;
    align-items:center;

}

.imgbox{
    border-radius: 10px;
    margin: 10px;
    border-color: black;
    height: 100px;
    width: 100px;
    background-color: rgb(68, 161, 255);
    border-bottom: 10px;
    align-items: center;
    transition: 1s;
    padding:10px;
}

.imgbox:hover{
    width:150px;
    height:150px;

}

.explain {
    font-size: 1rem;
}