.e {
    display: flex;
    flex-direction: row, column;
    align-items: center;
    justify-content: center;
}

.body{
    background-color: aliceblue;
    box-sizing: border-box;
    margin:0;
    padding:0;
    align-items:center;

}

.imgbox{
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255,0,0,100);


    margin: 10px;
    height: 100px;
    width: 100px;
    padding:10px;
    background-color: rgb(68, 161, 255);
    align-items: center;
    text-align: center;

    transition: 1s;
    overflow:hidden;
    display:block;
}

.imgbox:hover{
    width:150px;
    height:150px;
    align-items: center;
    max-width: 150px;

}

.explain {
    font-size: 1rem;
    align-items:center;
    max-width: 100px;
}